@import "./reset";
@import "./variables";
@import "./mixin";
@import "./utilities";
// custom
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: black;
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 40px 0;
  a {
    color: white;
    border-bottom: 2px solid transparent;

    &:hover {
      transition-duration: 0.2s;
      border-bottom: 2px solid white;
    }
  }
}

h1 {
  color: $green;
}

h2 {
  font-size: map-get($map: $title-font-sizes, $key: h2);
}

.media {
  display: flex;
  gap: 20px;
  li {
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
    &:hover {
      box-shadow: 0px 0px 16px 3px #9094ffe5;
    }
  }
}

footer {
  padding: 40px 0;
  text-align: center;
}

.link {
  font-family: $base-font-family;
  padding: 12px 24px;
  border-radius: 32px;
  background: white;
  color: black;
  &:hover {
    background: $green;
  }
}
